{% extends "base.html" %}

{% block title %}Concepts{% endblock %}

{% block content %}

<h1>Key Powerlifting Concepts</h1>

<div class="narrow-content justified-text">

<!-- GENERAL -->
<h1>Concepts and guides to doing exercises</h1>
<h2>Most exercises are best learned by searching for them on YouTube, but I will provide some guidance here.</h2>

<h1>General Concepts</h1>

<h2>Chains on the Barbell</h2>
<p>As explained in the about page. To set this up, you usually want to have two chains, between 5kg and 10kg each.
    The chain should be folded in half, and hung from the barbell so that the bottom links are touching the ground
    when the barbell is at the top of the movement. Usually, the chains are hung from a rope which is attached to
    the sleeve of the barbell. 
</p>

<h2>Resistance bands on the Barbell</h2>
<p>The logic of the bands and how they function is explained in the about page. Most squat cages have little
    pins at the bottom which allow the bands to be anchored. If you don't have access to a squat cage with pins,
    the bands can be anchored by wrapping them some plates which are lying on the ground. 
</p>

<h2>Pin Press or Pull</h2>
<p>Most squat racks have safety arms or pins that can be set at different heights to catch the barbell if you
    fail a lift. To do a pin press or pull, you set the pins at the height where you want to start the lift, and then
    you start the lift with the barbell resting on the pins. This allows you to change the starting point of the lift,
    and therefore change the point where the lift is hardest, which is essential for breaking through plateaus.</p>

<h2>Pauses</h2>
<p>Pauses are very much what they say on the tin. You pause at a certain point in the lift (where you are weakest), 
    and hold the barbell still for a certain amount of time (usually 1-5 seconds) before completing the lift. 
    You pause at the point you are weakest to train it more. </p>

<!-- BENCH -->
<h1>Bench Press Concepts</h1>

<h2>Grip Width</h2>
<p>You can hold the barbell with a grip that is wider or narrower than your usual grip. By holding the bar narrower,
    you will train your triceps more, and by holding the bar wider, you will train your chest more.
</p>

<h2>JM Press</h2>
<p>This exercise is readily available in YouTube tutorials. I recommend learning from JM Blakely, the man who
    invented the exercise.
</p>

<h2>Board Press</h2>
<p>Board Presses are again what they say on the tin. We have a one board, two board, three board, four board and
    five board. This just means a plank of wood that is 1 inch thick, 2 inches thick, etc. Place the board on your 
    chest, and then do a bench press. This changes the starting point of the lift, and therefore changes the point where the lift is hardest.
</p>

<h2>Floor Press</h2>
<p>Very self explanatory. You lie on the floor and perform a bench press.The floor means your elbows can't go
    as deep, and prevent you from bouncing the weight off your chest, which makes it a great exercise for training the top half of the bench press.
</p>

<h2>Rolling Dumbbell Extensions</h2>
<p>Not so readily available in YouTube tutorials. Best done on the ground, or on a flat bench. Hold the dumbbells
    over your head like a bench press, but with your palms facing each other. Then bend your elbows so that
    the dumbbells lower down and rest on your shoulders. Then roll them down to the ground, so that they're each
    side of your head, beside your ears. Then reverse the movement. 
</p>

<h2>Spoto Press</h2>
<p>Invented by Eric Spoto, former world record holder in the bench press, benching 327.5kg! Plenty of tutorials
    for this on YouTube. Its simply a bench press, but instead of touching your chest with the barbell,
    stop it an inch or two above your chest, and press it back up. This changes the starting point of the lift,
    in the same way a pin or board press does. 
</p>


<!-- SQUAT -->
<h1>Squat Concepts</h1>

<h2>Foot width/stance</h2>
<p>Foot position changes the angle of the knees and hips during the squat, affecting which muscles are emphasized.
    A wider stance typically engages the glutes and adductors more, while a narrower stance emphasizes the quadriceps.
    Experimenting with different stances can help target specific weak points in your squat.
</p>

<h2>Box Squat</h2>
<p>A great way to learn how to perform a regular squat. This is simply a matter of sitting back down onto a box,
    or a bench, or anything sturdy, and standing back up again. When you are seated, maintain your posture and form,
    and pause only for a second before standing back up again. This changes the starting point of the lift. There
    are many tutorials for this on YouTube. 
</p>

<h2>Andersen Squat</h2>
<p>Named after the legendary 1950s strongman Paul Anderson, a circus like performer who performed feats of 
    strength without much of the modern day equipment. In a regular squat, you start with the weight at the top, 
    then lower it down. However, Andersen didn't have access to squat racks. Instead, he would lift a giant axel 
    with cart wheels. To do this, he had to start the squat from the bottom position, then stand up. In your gym,
    this can be done with the pins - startng from the bottom of the squat. 
</p>

<h2>Front Squat</h2>
<p>Readily available in YouTube tutorials. Squatting with the weight in front, on your shoulder blades,
    which focuses on your quads more. 
</p>

<h2>Zercher Squat</h2>
<p>Available in YouTube tutorials. This exercise involves holding the barbell in the crook of your elbows,
    which places significant emphasis on the core and upper back muscles.</p>

<h2>Good Morning</h2>
<p>Think of it as a squat, but instead of bending your knees, you will only bend your hips, and perform a bow.
    This is extremely dangerous if done wrong, and so should be done with caution, and a braced core with 
    safety pins to catch the weight. 
</p>


<!-- DEADLIFT -->
<h1>Deadlift Concepts</h1>

<h2>Sumo Stance</h2>
<p>As it says on the tin, you stand with your feet wider than shoulder-width apart, toes pointed outward, like 
    a sumo. This changes the main muscles involved in the deadlift, emphasising the glutes and adductors more, and the quads less.
</p>

<h2>Defecit Deadlift</h2>
<p>Stand on anything sturdy and grippy that makes you 1 or 2 inches taller than you would be when performing
    a deadlift. This increases the range of motion of the lift, and makes it harder, especially at the bottom, which is where most people are weakest in the deadlift.
    It is also a great way to teach yourself to push the barbell, instead of pulling it, which is Newton's 
    third law. 
</p>

</div>

{% endblock %}